.navbar{
    background-color: black;
    color: white;
    display: flex;
    padding: 10px 20px;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-weight: 600;
}

.navbar input{
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
}
